<a href="https://colab.research.google.com/github/WoleIlori/Data-Preparation-and-Visualisation/blob/master/Data_Preparation_for_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Using a python wrapper to obtain dataset
from sodapy import Socrata
import calendar
import json
import pandas as pd
from collections import defaultdict
import string

In [0]:
data_source = "data.sfgov.org"
client = Socrata(data_source, None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [0]:
#MORE_INFO: https://dev.socrata.com/foundry/data.sfgov.org/5m6g-bqm4
def get_write_data(file_path, api_key,  month_name):
    raw_data = client.get(api_key, month= month_name)
    
    raw_json=json.dumps(raw_data)
    
    #strip array brackets
    raw_json = raw_json.strip("[")
    raw_json = raw_json.strip("]")
    
    with open(file_path, "a") as write_file:
        if month_name == "January":
            write_file.write("[")
        
        write_file.write(raw_json)
        
        if month_name != "DECEMBER":
            write_file.write(",")
        else:
            write_file.write("]")
    write_file.close()

In [0]:
api_key = "5m6g-bqm4"

months = []
for month in calendar.month_name[1:]:
    months.append(month)
    months.append(month.upper())
    
file_path="C:/Documents/noise_rating.json"

for m in months:
    get_write_data(file_path, api_key, m)

In [0]:
f1=open("C:/Documents/noise_rating.json","r")
data1 = json.loads(f1.read())
f1.close()

In [0]:
#convert to a frame
frame = defaultdict(list)
empty_idx = []
for data in data1:
    #missing values for airline name
    if len(data.keys()) < 9:
        frame["airline"].append("EMPTY")
    for key in data:
        if key == "airline":
            if data[key] == "ERROR: #N/A":
                break
        frame[key].append(data[key])

In [0]:
length_dict = {key:len(value) for key, value in frame.items()}

In [0]:
#convert airlines with names in lower caps to all upper caps
new_airline = []
for i in frame["airline"]:
    val = i
    if i.isupper() == False:
        val = i.upper()
    new_airline.append(val)

v_index = [i for i, x in enumerate(new_airline) if x == "VOLGA\xadDNEPR"]

for i in v_index:
    new_airline[i] = "VOLGA-DNEPR"
    
frame["airline"] = new_airline

unique_airline = []
unique_code = []

for i, x in enumerate(frame["airline"]):
    if x not in unique_airline and x != "EMPTY":
        unique_airline.append(x)
        unique_code.append(frame["airline_code"][i])

In [0]:
#get the rows where the airline field is empty i.e. labelled "EMPTY"
empty_idx = [i for i, x in enumerate(new_airline) if x == "EMPTY"]
code_idx = []
retrieved_name =[]
for idx in empty_idx:
    code = frame["airline_code"][idx]
    if code in unique_code:
        match = unique_code.index(code)
        ins = idx, unique_airline[match]
        retrieved_name.append(ins)
        code_idx.append(idx)

#update the names retrieved, 
for idx, name in retrieved_name:
    frame["airline"][idx] = name

#delete the ones that were not as there is not enough examples
discard_idx = [i for i in empty_idx if i not in code_idx]
columns = frame.keys()
while("EMPTY" in frame["airline"]):
    next_empty = frame["airline"].index("EMPTY")
    for col in columns:
        del frame[col][next_empty]

In [0]:
rating_table = pd.DataFrame(frame)

In [0]:
rating_table[rating_table["airline"]== "EMPTY"]

Empty DataFrame
Columns: [airline, airline_code, exceedances_per_1000_operations, month, noise_exceedance_quality_rating_score, noise_exceedance_rating, total_noise_exceedances, total_operations_per_month, year]
Index: []

In [0]:
months_format = calendar.month_name[1:]

In [0]:
#modify e.g. 'APRIL' to 'April'
for m in months_format:
    month_idx = rating_table.index[rating_table["month"] == m.upper()]
    
    if len(month_idx > 0):
        for idx in month_idx:
            rating_table.at[idx, "month"] = m

In [0]:
#remove "noise_exceeding_rating"
redun_feature = "noise_exceedance_rating"
cols = [i for i in rating_table.columns if i not in redun_feature]
rating_table = rating_table[cols]

In [0]:
#change data type 
dataset_idx = rating_table.index.tolist()

In [0]:
for idx in dataset_idx:
    exceed_1000_val = rating_table.iloc[idx]["exceedances_per_1000_operations"]
    rating_table.at[idx, "exceedances_per_1000_operations"] = int(exceed_1000_val)

In [0]:
for idx in dataset_idx:
    noise_score_val = rating_table.iloc[idx]["noise_exceedance_quality_rating_score"]
    rating_table.at[idx, "noise_exceedance_quality_rating_score"] = float(noise_score_val)

In [0]:
for idx in dataset_idx:
    tot_noise_val = rating_table.iloc[idx]["total_noise_exceedances"]
    rating_table.at[idx, "total_noise_exceedances"] = int(tot_noise_val)

In [0]:
for idx in dataset_idx:
    total_op_val = rating_table.iloc[idx]["total_operations_per_month"]
    rating_table.at[idx, "total_operations_per_month"] = int(total_op_val)

In [0]:
for idx in dataset_idx:
    year_val = rating_table.iloc[idx]["year"]
    rating_table.at[idx, "year"] = int(year_val)

In [0]:
#define function to get average ratio of tot_noise_excee/tot_operations_month for the year
def get_avg_ratio_year(airline_name, year, max_exceedance):
    global rating_table
    
    instances = rating_table[(rating_table["airline"] == airline_name) & (rating_table["year"] == year) & \
                         (rating_table["exceedances_per_1000_operations"] <= max_exceedance)]
    if len(instances) < 1:
        return 0
    
    total_ratio = 0
    
    for i in instances.index.tolist():
        total_ratio += (rating_table.iloc[i]["total_noise_exceedances"] / rating_table.iloc[i]["total_operations_per_month"])
    
    return total_ratio / len(instances)

In [0]:
#define function to get average ratio from all the years, if not available discard airline
def get_avg_ratio_allyears(airline_name, max_exceedance): #make rating_table global
    
    global rating_table
    instances = rating_table[(rating_table["airline"] == airline_name)  & (rating_table["exceedances_per_1000_operations"] <= max_exceedance)]
    
    if len(instances) < 1:
        return 0
    
    #store the airlines that have no instances where no_exceed > no_operations. We dont have enough data hence will be discarded
    total_ratio = 0

    for i in instances.index.tolist():
        total_ratio += (rating_table.iloc[i]["total_noise_exceedances"] / rating_table.iloc[i]["total_operations_per_month"])
        
    return total_ratio / len(instances)

In [0]:
def update_tot_noise(instances_above, instances_idx, ratio): #update total_noise_exceedance
    
    global rating_table
    new_calc = []
    
    #calculate new total_noise exceedance for each instance
    for j in instances_above["total_operations_per_month"]:
        new_calc.append(int(j * ratio))
    
    #change to new value in main data frame
    for i in range(len(instances_idx)):
        rating_table.at[instances_idx[i], "total_noise_exceedances"] = new_calc[i]

In [0]:
def update_ex_1000(airline_name): #update exceedance_per_1000_operations
    global rating_table
    
    instances_idx = rating_table[(rating_table["airline"] == airline_name) & \
                                 (rating_table["exceedances_per_1000_operations"] > max_exceedance)].index.tolist()
    
    for idx in instances_idx:
        new_val = (rating_table.iloc[idx]["total_noise_exceedances"] / rating_table.iloc[idx]["total_operations_per_month"]) * 1000
        rating_table.at[idx, "exceedances_per_1000_operations"] = new_val #int(new_val)

In [0]:
def update_noise_score(airline_name):

In [0]:
#max
rating_table["exceedances_per_1000_operations"].max()
#ma["exceedances_per_1000_operations"].max()

'992'

In [0]:
#unique = above["airline"].unique()
elel = rating_table[(rating_table["total_noise_exceedances"] < rating_table["total_operations_per_month"])]
#me =above[above["airline"] == "SINGAPORE AIRLINES"]
#(rating_table["airline"] == "SINGAPORE AIRLINES")
#elel[elel["year"] == 2008]
#me["year"].unique()
rating_table[rating_table["year"] == 2009]

,airline,airline_code,exceedances_per_1000_operations,month,noise_exceedance_quality_rating_score,total_noise_exceedances,total_operations_per_month,year
0,NETJETS AVIATION,EJA,2,January,9.99,1,637,2006
1,SKYWEST,SKW,2,January,9.99,15,6752,2006
2,US AIRWAYS,USA,5,January,9.97,2,388,2006
3,HORIZON AIR,QXE,6,January,9.97,1,168,2006
4,LUFTHANSA,DLH,9,January,9.95,1,108,2006
5,FRONTIER AIRLINES,FFT,10,January,9.95,3,289,2006
6,US AIRWAYS,AWE,14,January,9.93,10,731,2006
7,AIRTRAN AIRWAYS,TRS,15,January,9.92,1,67,2006
8,AIR FRANCE,AFR,16,January,9.92,1,62,2006
9,HAWAIIAN AIRLINES,HAL,16,January,9.92,1,62,2006
10,VIRGIN ATLANTIC,VIR,16,January,9.92,1,62,2006
11,CONTINENTAL AIR LINES,COA,18,January,9.91,13,709,2006
12,AIR CANADA,ACA,21,January,9.89,8,386,2006
13,ALASKA AIRLINES,ASA,25,January,9.87,30,1204,2006
14,DELTA AIRLINES,DAL,28,January,9.86,25,905,2006
15,TACA INTERNATIONAL AIRLINES,TAI,32,January,9.84,3,94,2006
16,ALL NIPPON AIRWAYS,ANA,32,January,9.84,2,62,2006
17,BRITISH AIRWAYS,BAW,32,January,9.84,4,124,2006
18,AMERICAN AIRLINES,AAL,33,January,9.83,65,1986,2006
19,UNITED AIRLINES,UAL,36,January,9.82,305,8489,2006
20,NORTHWEST AIRLINES,NWA,36,January,9.81,22,605,2006
21,MEXICANA,MXA,41,January,9.79,6,147,2006
22,DHL,DHL,96,January,9.51,8,83,2006
23,AIRBORNE EXPRESS,ABX,108,January,9.45,10,93,2006
24,AMERICAN TRANS AIR,AMT,130,January,9.34,35,270,2006
25,SUN COUNTRY,SCX,136,January,9.31,8,59,2006
26,JAPAN AIRLINES,JAL,154,January,9.21,21,136,2006
27,FEDERAL EXPRESS,FDX,190,January,9.03,27,142,2006
28,NIPPON CARGO AIRLINES,NCA,247,January,8.74,21,85,2006
29,AIR CHINA,CCA,286,January,8.54,8,28,2006
...,...,...,...,...,...,...,...,...
4400,FRONTIER AIRLINES,FFT,23,September,9.9,11,483,2016
4401,VOLARIS,VOI,27,September,9.88,3,110,2016
4402,AMERICAN AIRLINES,AAL,30,September,9.87,81,2661,2016
4403,ALL NIPPON AIRWAYS,ANA,34,September,9.85,2,59,2016
4404,UNITED AIRLINES,UAL,35,September,9.85,385,10915,2016
4405,ALASKA AIRLINES,ASA,36,September,9.85,37,1033,2016
4406,JETBLUE,JBU,40,September,9.83,39,964,2016
4407,WESTJET AIRLINES,WJA,50,September,9.79,6,120,2016
4408,ETIHAD AIRWAYS,ETD,66,September,9.72,4,61,2016
4409,TACA INTERNATIONAL AIRLINES,TAI,84,September,9.64,7,83,2016
4410,AEROMEXICO,AMX,94,September,9.6,16,171,2016
4411,HAWAIIAN AIRLINES,HAL,111,September,9.52,13,117,2016
4412,FEDERAL EXPRESS,FDX,131,September,9.44,11,84,2016
4413,AIR CHINA,CCA,138,September,9.41,13,94,2016
4414,COPA AIRLINES,CMP,164,September,9.3,10,61,2016
4415,ATLAS AIR,GTI,216,September,9.07,19,88,2016
4416,SINGAPORE AIRLINES,SIA,237,September,8.98,28,118,2016
4417,NIPPON CARGO AIRLINES,NCA,250,September,8.93,13,52,2016
4418,CHINA AIRLINES,CAL,320,September,8.63,32,100,2016
4419,JAPAN AIRLINES,JAL,333,September,8.57,20,60,2016
4420,CATHAY PACIFIC AIRWAYS,CPA,348,September,8.51,47,135,2016
4421,AIR NEW ZEALAND,ANZ,383,September,8.36,23,60,2016
4422,AIR INDIA,AIC,400,September,8.29,10,25,2016
4423,EVA AIRWAYS,EVA,435,September,8.13,54,124,2016
4424,PHILIPPINE AIRLINES,PAL,633,September,7.29,38,60,2016
4425,KOREAN AIR,KAL,706,September,6.97,84,119,2016
4426,ASIANA AIRLINES,AAR,852,September,6.35,92,108,2016
4427,POLAR AIR CARGO,PAC,1000,September,5.71,2,2,2016
4428,KALITTA AIR,CKS,1333,September,4.29,8,6,2016
4429,QANTAS AIRWAYS,QFA,2333,September,0,119,51,2016

In [0]:
max_exceedance = 1000
#find instances where no_exceed > no_operations
above = rating_table[rating_table["exceedances_per_1000_operations"] > max_exceedance]
discard_airline = []
pepe = ["SINGAPORE AIRLINES"]
for name in above["airline"].unique():
    #get the instances from dtaframe returned with exceedance_per_op > 1000
    airline_instances = above[above["airline"] == name]
    avg_ratio = 0
    #get the years in which the error occurs
    for year in airline_instances["year"].unique():
        avg_year_ratio = get_avg_ratio_year(name, year, max_exceedance)
        
        if avg_year_ratio == 0:
            avg_ratio = get_avg_ratio_allyears(name, max_exceedance)

            if avg_ratio > 0:
                break
            elif avg_ratio == 0: #if there is not enough data for the airline, discard
                discard_airline.append(name)
                break
        else:
            print(avg_year_ratio)
            year_instances = airline_instances[airline_instances["year"] == year]
            update_tot_noise(year_instances, year_instances.index.tolist(), avg_year_ratio)
    
    #If there is not enough examples to calculate avg ratio for each year, use avg_ratio from all "valid" instances
    if avg_ratio > 0:
        update_tot_noise(airline_instances, airline_instances.index.tolist(), avg_ratio)  
    
    #update per 1000 operations if total_noise_exceedance is updated
    update_check = rating_table[(rating_table["airline"]== name) & \
                                (rating_table["total_noise_exceedances"] > rating_table["total_operations_per_month"])]
    
    if len(update_check) == 0:
        update_ex_1000(name)
        #update_noise_score(name)

In [0]:
#answ: Royal Air, Polet Airlines Cargo, Qantas Airway
frame = {}
first = data1[0]
for key in first:
    frame[key] = first[key]


for i in range(1, len(data1)):
    row= data1[i]
    for key in row:
        col_data = []
        val = frame[key]
        if type(val) != str and len(val) > 1:
            for j in val:
                col_data.append(j)
        else:
            col_data.append(val)
        col_data.append(row[key])
        frame[key] = col_data

1998

In [0]:
46:96(40), 40:82(238), 55:114(532)
frame ={}
for data in data2:
    for key in data:
        #get the
        frame.setdefault(key, []).append(data[key])
complaint_table = pd.DataFrame(frame)
complaint_table

max_exceedance = 1000

#change data type in exceedances_per_1000_operations to int
rating_table["exceedances_per_1000_operations"] = [int(v) for v in rating_table["exceedances_per_1000_operations"]]

#get the index where example exceeds 1000
above_idx = rating_table.index[rating_table["exceedances_per_1000_operations"] > max_exceedance]

exceed_op = rating_table["exceedances_per_1000_operations"]

#change values over to 1000
for i in above_idx:
    exceed_op.iloc[i] = max_exceedance

rating_table["exceedances_per_1000_operations"] = exceed_op

#find instances where no_exceed > no_operations
above = rating_table[rating_table["exceedances_per_1000_operations"] > max_exceedance]

eva = rating_table[(rating_table["airline"] == "EVA AIRWAYS")  & (rating_table["exceedances_per_1000_operations"] < max_exceedance)]
total_ratio = 0

for i in eva.index.tolist():
    #print(i)
    total_ratio += (rating_table.iloc[i]["total_noise_exceedances"] / rating_table.iloc[i]["total_operations_per_month"])
    
avg_ratio = total_ratio / len(eva)

airline = above[above["airline"] == "EVA AIRWAYS"]
new_calc = []
for j in airline["total_operations_per_month"]:
    new_calc.append(int(j * avg_ratio))

for i in range(len(airline)):
    locs = airline.index.tolist()
    loc = locs[i]
    rating_table.at[loc, "total_noise_exceedances"] = new_calc[i]

NameError: name 'data2' is not defined

In [0]:
max_exceedance = 1000
#find instances where no_exceed > no_operations
above = rating_table[rating_table["exceedances_per_1000_operations"] > max_exceedance]
#above["airline"].unique() -> SINGAPORE AIRLINES
singapore = rating_table[(rating_table["airline"] == "SINGAPORE AIRLINES") & (rating_table["year"] == 2006) & \
                         (rating_table["exceedances_per_1000_operations"] < max_exceedance)]

#store the exceedance value for airline above threhold for the year
airline_above = above[above["airline"] == "KALITTA AIR"]
#airline_above["year"].unique()
airline_above

,airline,airline_code,exceedances_per_1000_operations,month,noise_exceedance_quality_rating_score,total_noise_exceedances,total_operations_per_month,year
35,KALITTA AIR,CKS,1091,January,4.43,24,22,2006
359,KALITTA AIR,CKS,1333,January,3.24,8,6,2015
395,KALITTA AIR,CKS,2167,January,1.33,39,18,2016
439,KALITTA AIR,CKS,1857,January,1.98,13,7,2017
872,KALITTA AIR,CKS,1250,February,3.87,5,4,2016
1312,KALITTA AIR,CKS,1083,March,5.15,26,24,2015
1353,KALITTA AIR,CKS,1107,March,0,31,28,2016
1392,KALITTA AIR,CKS,2278,March,0.24,41,18,2017
1520,KALITTA AIR,CKS,1871,April,0,58,31,2007
1810,KALITTA AIR,CKS,3650,April,0,73,20,2015
1848,KALITTA AIR,CKS,2679,April,0,75,28,2016
1883,KALITTA AIR,CKS,1923,April,0.84,50,26,2017
1972,KALITTA AIR,CKS,1083,May,4.97,26,24,2006
2026,KALITTA AIR,CKS,1471,May,0.35,75,51,2007
2329,KALITTA AIR,CKS,2071,May,0,58,28,2015
2369,KALITTA AIR,CKS,2654,May,0,69,26,2016
2408,KALITTA AIR,CKS,1731,May,3.4,45,26,2017
2488,KALITTA AIR,CKS,1500,June,4.44,36,24,2006
2538,KALITTA AIR,CKS,1157,June,2.77,60,52,2007
2883,KALITTA AIR,CKS,2700,June,0,27,10,2016
2924,KALITTA AIR,CKS,1269,June,3.59,33,26,2017
3012,KALITTA AIR,CKS,1370,July,4.52,37,27,2006
3063,KALITTA AIR,CKS,1450,July,0,29,20,2007
3334,KALITTA AIR,CKS,3500,July,0,42,12,2014
3413,KALITTA AIR,CKS,2357,July,1.12,66,28,2016
3584,KALITTA AIR,CKS,1227,August,1.45,27,22,2007
3856,KALITTA AIR,CKS,3357,August,0,47,14,2014
3940,KALITTA AIR,CKS,2800,August,0,70,25,2016
3982,KALITTA AIR,CKS,1821,August,0.89,51,28,2017
4059,KALITTA AIR,CKS,1125,September,5.37,27,24,2006
4103,KALITTA AIR,CKS,1167,September,2.22,21,18,2007
4355,KALITTA AIR,CKS,3375,September,0,81,24,2014
4389,KALITTA AIR,CKS,2792,September,0,67,24,2015
4428,KALITTA AIR,CKS,1333,September,4.29,8,6,2016